body {
    background-color: #fff;
}

.row {
    margin: 15px;
    text-align: center;
}

#affichage {
    font-family: Impact;
    font-size: 1.5em;
}

#bouton {
    box-shadow: none;
    border: none;
    background-color: #fff;

}

#cookie {
    margin:25px;
}

#multiplicateur, #autoclic {
    background-color: #ccc;
    margin: 5px;
}
